# API WHO: Pipeline ETL
Este notebook implementa um fluxo de ETL (Extract, Transform, Load) para:
-  Carregar dados da API da OMS (WHO)
-  Transformar e limpar os dados
-  Exportar um dataset pronto para análise

## Set up

In [8]:
%load_ext autoreload
%autoreload 2

Importa funcoes do 'who_data_tools'

In [34]:
import sys
sys.path.append (r'C:\Users\giuli\Documents\GitHub')
from who_data_tools import get_who_data, clean_column_names2, save_to_csv, plot_line, drop_empty_columns, check_data_quality, fix_column_types
#from data_utils import *
#"C:\Users\giuli\Documents\GitHub\who-data-tools"

Carrega os pacotes necessarios

In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import who_data_tools as wdt

## Carrega dados da API Who

A função 'get_who_data(ID)' busca dados do WHO com base no ID do indicador

o ID do indicador é encontrado [aqui](https://ghoapi.azureedge.net/api/Indicator)

Exporta o indicador solicitado (Mortalidade materna) do WHO para um dataframe e exibe as primeiras linhas

In [28]:
df = get_who_data('MDG_0000000026')

a função 'save_to_csv()' salva o dataframe em um arquivo CSV sem indice do pandas 

argumentos sao o dataframe e o nome do arquivo que sera salvo

In [12]:
save_to_csv(df, 'maternal_mortality_raw.csv')

## Limpeza

In [43]:
check_data_quality(df)

 Info do DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7605 entries, 0 to 7604
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    7605 non-null   int64
 1   indicator_code        7605 non-null   category
 2   spatial_dim_type      7605 non-null   category
 3   spatial_dim           7605 non-null   category
 4   time_dim_type         7605 non-null   category
 5   parent_location_code  7605 non-null   category
 6   parent_location       7605 non-null   category
 7   time_dim              7605 non-null   int64
 8   numeric_value         7605 non-null   float64
 9   low                   7605 non-null   float64
 10  high                  7605 non-null   float64
 11  date                  7605 non-null   datetime64[ns, UTC+02:00]
 12  time_dimension_value  7605 non-null   int64
 13  time_dimension_begin  7605 non-null   datetime64[ns, UTC+01:00]
 14  time_dimension_end    7605 non-null   datetime64[ns, UTC+01:00]
dtypes: category(6), datetime64[ns, UTC+01:00](2), datetime64[ns, UTC+02:00](1), float64(3), int64(3)
memory usage: 597.3 KB
None

 Tipos de Dados:
id                                          int64
indicator_code                           category
spatial_dim_type                         category
spatial_dim                              category
time_dim_type                            category
parent_location_code                     category
parent_location                          category
time_dim                                    int64
numeric_value                             float64
low                                       float64
high                                      float64
date                    datetime64[ns, UTC+02:00]
time_dimension_value                        int64
time_dimension_begin    datetime64[ns, UTC+01:00]
time_dimension_end      datetime64[ns, UTC+01:00]
dtype: object

 Estatísticas Descritivas:
                  id  indicator_code spatial_dim_type spatial_dim  \
count   7.605000e+03            7605             7605        7605
unique           NaN               1                1         195
top              NaN  MDG_0000000026          COUNTRY         AFG
freq             NaN            7605             7605          39
mean    4.961889e+06             NaN              NaN         NaN
min     3.993000e+03             NaN              NaN         NaN
25%     2.483357e+06             NaN              NaN         NaN
50%     4.919571e+06             NaN              NaN         NaN
75%     7.461218e+06             NaN              NaN         NaN
max     1.001687e+07             NaN              NaN         NaN
std     2.875750e+06             NaN              NaN         NaN

       time_dim_type parent_location_code parent_location     time_dim  \
count           7605                 7605            7605  7605.000000
unique             1                    6               6          NaN
top             YEAR                  EUR          Europe          NaN
freq            7605                 2067            2067          NaN
mean             NaN                  NaN             NaN  2004.000000
min              NaN                  NaN             NaN  1985.000000
25%              NaN                  NaN             NaN  1994.000000
50%              NaN                  NaN             NaN  2004.000000
75%              NaN                  NaN             NaN  2014.000000
max              NaN                  NaN             NaN  2023.000000
std              NaN                  NaN             NaN    11.255369

        numeric_value          low          high  \
count     7605.000000  7605.000000   7605.000000
unique            NaN          NaN           NaN
top               NaN          NaN           NaN
freq              NaN          NaN           NaN
mean       231.189183   167.317019    320.154977
min          0.107251     0.064314      0.163086
25%         17.805038    13.690124     23.612269
50%         70.013772    51.731003     88.421535
75%        296.041379   213.981663    425.719420
max       8044.862936  5233.783190  11640.088140
std        401.649119   280.992216    564.014683

                                       date  time_dimension_value  \
count                                  7605           7605.000000
unique                                  NaN                   NaN
top                                     NaN                   NaN
freq                                    NaN                   NaN
mean    2025-04-10 06:55:20.386485760+02:00           2004.000000
min        2025-04-07 06:46:44.380000+02:00           1985.000000
25%     2025-04-10 15:44:11.956999936+02:00           1994.000000
50%     2025-04-10 15:44:11.956999936+02:00           2004.000000
75%     2025-04-10 15:44:11.956999936+02:00           2014.000000
max        2025-04-10 15:44:11.957000+02:00           2023.000000
std                                     NaN             11.255369

                       time_dimension_begin  \
count                                  7605
unique                                  NaN
top                                     NaN
freq                                    NaN
mean    2004-01-01 09:13:50.769230720+01:00
min               1985-01-01 00:00:00+01:00
25%               1994-01-01 00:00:00+01:00
50%               2004-01-01 00:00:00+01:00
75%               2014-01-01 00:00:00+01:00
max               2023-01-01 00:00:00+01:00
std                                     NaN

                         time_dimension_end
count                                  7605
unique                                  NaN
top                                     NaN
freq                                    NaN
mean    2004-12-30 14:46:09.230769280+01:00
min               1985-12-31 00:00:00+01:00
25%               1994-12-31 00:00:00+01:00
50%               2004-12-31 00:00:00+01:00
75%               2014-12-31 00:00:00+01:00
max               2023-12-31 00:00:00+01:00
std                                     NaN

 Valores Nulos por Coluna:
id                      0
indicator_code          0
spatial_dim_type        0
spatial_dim             0
time_dim_type           0
parent_location_code    0
parent_location         0
time_dim                0
numeric_value           0
low                     0
high                    0
date                    0
time_dimension_value    0
time_dimension_begin    0
time_dimension_end      0
dtype: int64

 Total de Duplicatas:
0

A função 'clean_column_names()' padroniza em minúsculas e troca espaços por "_"

In [30]:
df = clean_column_names2(df)

a função drop_empty_columns remove colunas vazias

In [31]:
df = drop_empty_columns(df)

In [35]:
fix_column_types(df)

indicator_code: convertido para category
spatial_dim_type: convertido para category
spatial_dim: convertido para category
time_dim_type: convertido para category
parent_location_code: convertido para category
parent_location: convertido para category
date: convertido para datetime
time_dimension_begin: convertido para datetime
time_dimension_end: convertido para datetime
time_dimension_value: convertido para int

,id,indicator_code,spatial_dim_type,spatial_dim,time_dim_type,parent_location_code,parent_location,time_dim,value,numeric_value,low,high,date,time_dimension_value,time_dimension_begin,time_dimension_end
0,5395872,MDG_0000000026,COUNTRY,SVK,YEAR,EUR,Europe,2007,6 [5-8],6.421854,4.863214,8.390841,2025-04-07 06:46:44.380000+02:00,2007,2007-01-01 00:00:00+01:00,2007-12-31 00:00:00+01:00
1,5395976,MDG_0000000026,COUNTRY,COD,YEAR,AFR,Africa,2011,589 [452-791],589.270978,451.936766,791.005315,2025-04-10 15:44:11.957000+02:00,2011,2011-01-01 00:00:00+01:00,2011-12-31 00:00:00+01:00
2,3993,MDG_0000000026,COUNTRY,CPV,YEAR,AFR,Africa,2009,62 [42-90],62.243807,41.633929,89.712572,2025-04-10 15:44:11.957000+02:00,2009,2009-01-01 00:00:00+01:00,2009-12-31 00:00:00+01:00
3,4791,MDG_0000000026,COUNTRY,HUN,YEAR,EUR,Europe,1992,24 [20-28],23.580291,19.820893,28.112630,2025-04-10 15:44:11.957000+02:00,1992,1992-01-01 00:00:00+01:00,1992-12-31 00:00:00+01:00
4,6015,MDG_0000000026,COUNTRY,CYP,YEAR,EUR,Europe,1993,15 [9-24],14.682759,9.094648,23.549916,2025-04-10 15:44:11.957000+02:00,1993,1993-01-01 00:00:00+01:00,1993-12-31 00:00:00+01:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7873,10010759,MDG_0000000026,COUNTRY,RWA,YEAR,AFR,Africa,2021,254 [183-389],253.969864,182.936545,389.241850,2025-04-10 15:44:11.957000+02:00,2021,2021-01-01 00:00:00+01:00,2021-12-31 00:00:00+01:00
7874,10012899,MDG_0000000026,COUNTRY,BEL,YEAR,EUR,Europe,2009,6 [5-7],6.255525,5.277053,7.464873,2025-04-07 06:46:44.380000+02:00,2009,2009-01-01 00:00:00+01:00,2009-12-31 00:00:00+01:00
7875,10013903,MDG_0000000026,COUNTRY,CYP,YEAR,EUR,Europe,1986,18 [10-30],17.721089,9.690470,29.999933,2025-04-10 15:44:11.957000+02:00,1986,1986-01-01 00:00:00+01:00,1986-12-31 00:00:00+01:00
7876,10015883,MDG_0000000026,COUNTRY,SEN,YEAR,AFR,Africa,2010,436 [354-549],435.510739,353.888800,548.661292,2025-04-10 15:44:11.957000+02:00,2010,2010-01-01 00:00:00+01:00,2010-12-31 00:00:00+01:00
7877,10016874,MDG_0000000026,COUNTRY,BRN,YEAR,WPR,Western Pacific,2023,36 [25-52],36.354046,24.868454,52.337206,2025-04-10 15:44:11.957000+02:00,2023,2023-01-01 00:00:00+01:00,2023-12-31 00:00:00+01:00

In [39]:
missing_region = df[
    df['parent_location'].isna() | df['parent_location_code'].isna()
]

countries_missing_region = (
    missing_region['spatial_dim']
    .drop_duplicates()
    .reset_index(drop=True)
)
print("Países sem região:", countries_missing_region.tolist())

Países sem região: ['SEAR', 'EMR', 'EUR', 'AMR', 'WPR', 'AFR', 'GLOBAL']

In [40]:
df = df[~df['spatial_dim'].isin(['SEAR', 'EMR', 'EUR', 'AMR', 'WPR', 'AFR', 'GLOBAL'])]
df.reset_index(drop=True, inplace=True)

In [42]:
df.drop(columns=['value'], inplace=True)

C:\Users\giuli\AppData\Local\Temp\ipykernel_20456\3900809556.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns=['value'], inplace=True)

In [14]:
# funcao read_csv do pandas lê o arquivo CSV e cria um dataframe
df = pd.read_csv("maternal_mortality.csv")

In [44]:
save_to_csv(df, 'maternal_mortality_clean.csv')

In [32]:

# Importa o módulo e a biblioteca de reload
from who_data_tools.src import cleaning
import importlib

# Recarrega o módulo atualizado
importlib.reload(cleaning)