In [ ]:
#importa data_utils como pacote
import sys
sys.path.append (r'C:\Users\giuli\Documents\GitHub')
import data_utils

In [ ]:
#importa as todas as funcões do data_utils
from data_utils import *

In [ ]:
# a função get_who_data busca dados do WHO com base no ID do indicador
# o ID do indicador é encontrado em https://ghoapi.azureedge.net/api/Indicator
# Exporta o indicador solicitado (Mortalidade materna) do WHO para um dataframe e exibe as primeiras linhas
df = get_who_data('MDG_0000000026')
# a função clean_column_names padroniza em minúsculas e remove espaços
df = clean_column_names(df)

,id,indicatorcode,spatialdimtype,spatialdim,timedimtype,parentlocationcode,parentlocation,dim1type,timedim,dim1,...,datasourcedim,value,numericvalue,low,high,comments,date,timedimensionvalue,timedimensionbegin,timedimensionend
0,3143621,MDG_0000000026,COUNTRY,RWA,YEAR,AFR,Africa,None,2003,None,...,None,551 [450-667],551.062880,450.367100,667.049941,None,2025-04-10T15:44:11.957+02:00,2003,2003-01-01T00:00:00+01:00,2003-12-31T00:00:00+01:00
1,3144176,MDG_0000000026,COUNTRY,KAZ,YEAR,EUR,Europe,None,1988,None,...,None,65 [57-74],64.983332,56.752152,74.393075,None,2025-04-10T15:44:11.957+02:00,1988,1988-01-01T00:00:00+01:00,1988-12-31T00:00:00+01:00
2,3990,MDG_0000000026,COUNTRY,CPV,YEAR,AFR,Africa,None,2009,None,...,None,62 [42-90],62.243807,41.633929,89.712572,None,2025-04-10T15:44:11.957+02:00,2009,2009-01-01T00:00:00+01:00,2009-12-31T00:00:00+01:00
3,4788,MDG_0000000026,COUNTRY,HUN,YEAR,EUR,Europe,None,1992,None,...,None,24 [20-28],23.580291,19.820893,28.112630,None,2025-04-10T15:44:11.957+02:00,1992,1992-01-01T00:00:00+01:00,1992-12-31T00:00:00+01:00
4,6009,MDG_0000000026,COUNTRY,CYP,YEAR,EUR,Europe,None,1993,None,...,None,15 [9-24],14.682759,9.094648,23.549916,None,2025-04-10T15:44:11.957+02:00,1993,1993-01-01T00:00:00+01:00,1993-12-31T00:00:00+01:00

In [14]:
save_to_csv(df, 'maternal_mortality.csv')